* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Alternates', sans-serif;
}

.center{
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
.header{
    background: rgba(246, 245, 244, 1);
    &__navbar{
        background: rgba(255, 255, 255, 1);
        display: flex;
        align-items: center;
        height: 120px;
    }
    &__navbar-menu{
        display: flex;
        gap: 48px;
        padding-left: 256px;
    }
    &__navbar-list{
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
        text-decoration: none;
        color: rgba(69, 64, 61, 1);
    }
    &__navbar-btn{
        box-sizing: border-box;
        border-radius: 24px;
        border: 1px solid rgba(162, 101, 57, 1);
        width: 169px;
        height: 52px;
        background: rgba(255, 255, 255, 1);
        margin-left: 48px;
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
        color: rgba(162, 101, 57, 1);
    }
    &__title{
        font-size: 48px;
        line-height: 59px;
        font-weight: 700;
        padding-top: 118px;
        padding-bottom: 24px;
    }
    &__description{
        font-size: 24px;
        line-height: 29px;
        font-weight: 600;
    }
    &__text-one{
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
        padding-top: 24px;
        padding-bottom: 10px;
    }
    &__text-two{
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
        padding-bottom: 40px;
    }
    &__button{
        width: 366px;
        height: 52px;
        box-sizing: border-box;
        border-radius: 24px;
        border: 1px solid rgba(162, 101, 57, 1);
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
        color: rgba(162, 101, 57, 1);
    }
    &__img{
        position: absolute;
        top: 60px;
        left: 650px;
    }
}